h1 {
    color: #F2591A;
    text-align: center;
}
div {
    color: #8339D7;
    font-size: 20px;
}


h4{
    color: #F2591A;
}
form {
    background-color: #D7D7D7;
    margin-left: 200px;
    margin-right: 200px;
    padding: 50px;
    border-style: double;
    border-radius: 25px;
}


#submit,#reset{
    font-weight: bold;
    font-size: 20px;
    color: #8447AB;
    background-color: #FFD0A4;
    border-radius: 25px;
    height: 50px;
    width: 150px;
    text-align: center;
}
